// Variables
$height-100vh: 100vh;
$primary-text-Color : #0075C9;
$secondary-text-Color : #303030;
$color-white: #fff;
$color-dBlack: #000;

$main-primary-bg: #005EA2;

$primary-link-color: #239AEF;
$primary-link-color-hover: #2671a7;

/* border-radius */
$border-radius-fifty-percent : 50% 50%;

